.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat__header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  padding-left: 20px;
  flex: 1;
}

.chat__body {
  flex: 1;
  padding: 30px;
  overflow: scroll;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
}

.chat__message {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: white;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  position: relative;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__name {
  font-size: small;
  font-weight: bold;
}

.chat__timestamp {
  font-size: x-small;
  margin-left: 10px;
  position: relative;
  top: 8px;
}

.chat__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: solid 1px lightgray;
}

.chat__input > form {
  flex: 1;
  display: flex;
}

.chat__input > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
}

.chat__input > form > button {
  display: none;
}

.chat__input > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
  cursor: pointer;
}
